html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")
        title Document
    body
        include ./header.pug
        main
            h1 Ingresa aqui la pelicula a buscar
            section
                form(action='/films' method='POST')
                    input#title(type='text' name='title' placeholder='title')
                    input(type='submit' value='BUSCAR')
                p#message

        include ./footer.pug
        script(src="/script.js")